<p id="notice"><%= notice %></p>

<h1>String Enforcers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @string_enforcers.each do |string_enforcer| %>
      <tr>
        <td><%= link_to 'Show', string_enforcer %></td>
        <td><%= link_to 'Edit', edit_string_enforcer_path(string_enforcer) %></td>
        <td><%= link_to 'Destroy', string_enforcer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New String Enforcer', new_string_enforcer_path %>
